apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: primerice-postgres
  namespace: primerice
spec:
  serviceName: primerice-postgres
  replicas: 1
  selector:
    matchLabels:
      app: primerice-postgres
  template:
    metadata:
      labels:
        app: primerice-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: primerice
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: primerice-secrets
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi

